.sidenav {
    height: 48vw;
    width: 0;
    position: relative;
    z-index: 1;
    background-color: #16d25b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: .2vw;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    margin: 0.5vw;
    border-radius: 0.5vw;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #106f33;
  }
  
  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav.open {
    width: 14%;
    float:left;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .dash-main-box{
    float:right;
    flex-direction:row;
    width:80%;
    align-items:center;
    position: relative;
  }
  
  .dash-box{
    width:15vw;
    height:7vw;
    background-color: #82f5a440;
    border-radius: 1vw;
    margin: 2vw;
    float:left;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.256);
  }
  .dash-box:hover{
    background-color: #2caa5ab0;

  }

  .d-text{
    margin-left: 1vw;
    margin-top: 0.5vw;
    color: gray;
  }
  .d-value{
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-weight: bold;
  }
  .dash-table-box{
    float: left;
    width: 40vw;
    height: 35vw;
    background-color: #74eea171;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.256);
  }
  .dash-table-box-2{
    float: right;
    margin-right: 6vw;
    width: 30vw;
    height: 35vw;
    background-color: #74eea171;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.256);
  }
  .dash-column-1{
    width:30vw;
    height:17.5vw;
    border:1px solid black;
    flex-direction: row;
    align-items: center;
  }
  .dash-column-2{
    width:30vw;
    height:17.5vw;
    border:1px solid black;
    flex-direction: row;
    align-items: center;
  }
  .dash-box-4{
    width:14vw;
    height:12vw;
    background-color: #106f33;
    float: left;
    margin:0.1vw;
    border-radius: 1vw;
  }