.sidenav {
    height: 48vw;
    width: 0;
    position: relative;
    z-index: 1;
    background-color: #04ab41;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: .2vw;
  }