.sidenav {
    height: 48vw;
    width: 0;
    position: relative;
    z-index: 1;
    background-color: #04ab41;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: .2vw;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    margin: 0.5vw;
    border-radius: 0.5vw;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #106f33;
  }

  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

