.sidenav {
    height: 48vw;
    width: 0;
    position: relative;
    z-index: 1;
    background-color: #04ab41;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: .2vw;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    margin: 0.5vw;
    border-radius: 0.5vw;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    background-color: #106f33;
  }

  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav.open {
    width: 14%;
    float:left;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .dash-main-box{
    float:right;
    flex-direction:row;
    width:80%;
    align-items:center;
    position: relative;
  }

  .dash-box{
    width:15vw;
    height:7vw;
    background-color: #82f5a440;
    border-radius: 1vw;
    margin: 2vw;
    float:left;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.256);
  }

  .dash-box:hover{
    background-color: #2caa5ab0;
  }

