.dash-container{
    width:100%;
    height:48vw;
    background-image: url(../../assest/Image/backgroundAnim.svg);
    background-size: cover;
    /* background: rgb(9,121,97);
    background: linear-gradient(189deg, rgba(9,121,97,1) 0%, rgba(255,255,255,1) 0%, rgba(37,255,183,1) 66%); */
}
/*home*/
.d-text{
    margin-left: 1vw;
    margin-top: 0.5vw;
    color: gray;
    font-family: 'Manrope', sans-serif;
  }
  .d-value{
    margin-left: 1vw;
    margin-top: 1.5vw;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
  }
  .dash-table-box-b{
    float: left;
    width: 35vw;
    height: 20vw;
    background: rgba( 255, 255, 255, 0.75 );
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .dash-table-box-a{
    float: right;
    width: 32vw;
    height: 20vw;
    margin-right: 6vw;
    align-items: center;
    border-radius: 1vw;
  }
  .dash-table-box-z{
    float: right;
    width: 32vw;
    height: 20vw;
    margin-right: 6vw;
    align-items: center;
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .dash-table-box-c{
    width: 73.5vw;
    height: 10vw;
    margin-top: 22vw;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );

  }
  .dash-column{
    margin-top: 0vw;
  }
  .dash-box-4{
    width:14vw;
    height:12vw;
    background-color: #106f33;
    float: left;
    margin:0.1vw;
    border-radius: 1vw;
    margin-top: 8vw;
  }
  .dash-box-5{
    width:28.2vw;
    height:11vw;
    background-color: #106f33;
    float: left;
    margin:0.1vw;
    border-radius: 0.2vw;
    margin-top: 1vw;
  }
  .tab-btn{
    margin-left: 2vw;
    background-color: red;
  }
  NavItem{
    margin-bottom: 0px;

  }
  .tab-dash{
    width:30vw;
  }
  .dash-box-a{
    width:15vw;
    height:7vw;
    flex-direction: 'row';
    margin: 2vw;
    float:left;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 0.8vw;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
  }
  .chart-pie{
    width:4vw;
    height:4vw;
    float:right;
    position: relative;


  }
  .N-table{
    overflow-y: scroll;
    height: 12vw;
    width:33vw;
    margin-left: 1vw;
    background-color: aliceblue;
    
    
  }
  /* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #3af481; /* Change this to the desired color */
  border-radius: 5px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #eee; /* Change this to the desired color */
  border-radius: 5px;
}

  .table{
    width:100%;
    table-layout: fixed;
    padding-top: 1vw;
    
  }
  .table td{
    background-color: rgba(45, 216, 255, 0.479);
    border:1px solid rgb(255, 255, 255)
  }
  .topic-ND{
    font-size: 1.4vw;
    font-weight: 700;
    text-align: center;
    margin-top: 0.5vw;
    font-family: 'Manrope', sans-serif;
  }
  button h6{
    float:left;
    width:8vw;
    font-family: 'Manrope', sans-serif;
  }
  .list-Img-n{
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
    width:10vw;
     float:right;
    border-radius:0.5vw;
    margin-Left:0.4vw;
    margin-top:2.5vw;

  }
  
  #priceBtn{
    width:5vw;
    margin-left: 0.4vw;
    background: linear-gradient(to right,#3ff174 ,#a8f19e);
    background-color: #3ff174;
    color: #0e522d;
    font-family: Trebuchet MS;
    font-size: 1vw;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 8px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 3px 0px 15px 0px rgba(19.98743274458229,122.71876215934753,7.7745805643160555,0.5);
}
#priceBtn:hover{
 background: linear-gradient(to right,#3ce56e ,#9fe596);
 background-color: #3ce56e;
}
#priceBtn:active{
 transform: scale(0.95);
}