/*make card view changes*/ 
*{
    margin: 0px;
    padding: 0px;
}

/*make card body changes*/
body{
    font-family: Arial;
}

/* make card changes*/
.cards{
    width: 20%;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    margin: 40px;
    box-shadow: 2px 2px 10px black;  
}

/*make image changes */ 
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/*make changes to the location image*/
.location img{
    width: 7%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/*make title changes*/
.title{
    text-align:center;
    padding: 4px;
}

.theme{
    text-align: center;
    font-weight: bold;
    padding-top: 3vw;
}

/*make description changes*/
.des{
    text-align: center;
    padding: 4px;
}

/*make button changes*/
button{
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/*make button hover changes*/
button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    
}

/*create design to the + add button more creatively*/
.addP {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  /*add creative arrow head to the button*/
  .addP span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
   /*add creative arrow head to the button*/
  .addP span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

    /*add creative arrow head to the button*/
    .addP:hover span:after {
        opacity: 1;
        right: 0;
    }
  
  /*create arrow head and the text on the button with space*/
  .addP:hover span {
    padding-right: 25px;
  }
  
