.container-d{
    width:100vw;
    height:48vw;
}
/*make card view changes*/ 
*{
    margin: 0px;
    padding: 0px;
}

/*make card body changes*/
body{
    font-family: Arial;
}

       /* POST DISPOSAL STYLE */

       .pdCard{
        width:70vw;
        height: 42vw;
        margin-right: 8vw;
        float:right;
        margin-top: 3vw;
        background: rgba( 244, 244, 244, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 1vw;
        border: 1px solid rgb(45, 255, 3);
       }
       .pdCardIn{
            width:64vw;
            height: 36vw;
            margin-left: 3vw;
            margin-right: 3vw;
            margin-bottom: 3vw;
            background: rgba( 255, 253, 253, 0.45 );
            box-shadow: 0 8px 32px 0 rgba(34, 196, 53, 0.37);
            backdrop-filter: blur( 20px );
            -webkit-backdrop-filter: blur( 20px );
            border-radius: 1vw;
            border: 1px solid rgb(255, 255, 255);
       }
       .pdCard h5{
        margin: 2vw;
        margin-left: 3vw;
        font-weight: 600;
       }
.form-card{
    width:60vw;
    height: 36vw;
    margin-left: 2vw;
    margin-top: 2vw;
}
.form-card-left{
    float:left;
    width:30vw;
    height: 32vw;
    
}
.form-card-right{
    float: right;
    width:30vw;
    height: 32vw;
    
}
.form-card-left label{
    font-weight: 600;
    margin-top: 1vw;
    margin-left: 2vw;
    font-size: 0.9vw;
}
.o-input{
    width:25vw;
    padding: 0.5vw;
    margin-left: 2vw;
    border-radius: 0.5vw;
    border:1px solid rgb(190, 190, 190);
}
.form-card-right label{
    font-weight: 600;
    margin-top: 1vw;
    margin-left: 2vw;
    font-size: 0.9vw;
}
.form-card-left span{
    color: #2FEF73;
    margin-left: 2vw;
    text-decoration: none;
}
.form-card-left a{
    text-decoration: none;
}
.form-card-right img{
    width:12vw;
    margin-left: 8vw;
    filter: drop-shadow(2px 2px 4px rgba(6, 133, 30, 0.744));
}
.form-card-left button{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #2FEF73;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 0.4vw;
    margin-left: 2vw;
    margin-top: 3vw;
}
.form-card-left button:hover{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #0a5826;
    color: aliceblue;
}
#submit{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #014E35;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 0.4vw;
    margin-right: 5vw;
    float: right;
    margin-top: 1vw;
}
#submit:hover{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #0fe35d;
    color: aliceblue;
}
.detail-textu{
    margin-left: 8vw;
    font-size: 2vw;
}
.homeImg{
    width:25vw;
}
#edit{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #18de46;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 0.4vw;
    margin-top: 2vw;
    width:8vw;
}
#edit:hover{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #0b7e35;
    color: aliceblue;
}
#delete{
    width:8vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #d62c20;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 0.4vw;
    margin-right: 5vw;
    margin-top: 2vw;
}
#delete:hover{
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #930f0f;
    color: aliceblue;
}
    
  
