.container-b{
    width: 100vw;
}
.topic-v{
    margin-left: 35vw;
    font-size:x-large;
}
.inResBox1{
    height:32vw;
    width: 95vw;
    background-color: #A9E9A8;
    border-radius:1.2vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
}
.details1{ 
    flex-direction: row;
    float: right;
    margin-right: 5vw;
    width: 65vw;  
    margin-top: 3vw;
    
}
.res-b{
    height: 20vw;
    width: 20vw;
    margin-top: 5vw;
    margin-left:4vw;
    float:left ;
}
.data-c{
    margin-top: 1vw;
    width: 25vw;
    color:steelblue;
    float: left;
}
.btnD1{
    margin-top: 0.5vw;
    margin-left: 1vw;
    float: right;
    background-color: #014E35;
    font-weight: bold;
    padding: 0.5vw 1vw;
    border-radius: 0.8vw;
    color: #fff;
    margin-top:4vw;
}