.container-l{
    width: 100vw;
    height: 48vw;
    
}
header{
    width:100vw;
    height:5vw;
    background-color: #7DD91973;
}
.logo-a{
    width:6vw;
    float:left;
    margin-left: 2vw;
    margin-top: 0.5vw;
}
.btn-l{
    width:8vw;
    height: 2vw;
    float:right;
    margin-left: 1vw;
    margin-top: 1.5vw;
    margin-right: 1vw;
    border-radius:0.2vw;
    color: #024731;
    font-weight: bold;
    text-decoration: none;

}
.footer-b{
    width:100vw;
    height:5vw;
    background-color: #024731;
}
.bin-a{
    width:3vw;
    float:right;
    margin-top: 1vw;
    margin-right: 1vw;
}
.footer1{
    color: aliceblue;
    padding-top: 1.5vw;
    font-size: 1.2vw;
    margin-left: 30vw;
}
.lgnBox{
    width: 80vw;
    height: 35vw;
    margin: 2vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgb(158, 151, 151);
    border-radius: 0.8vw;
}
.login-a{
    width: 35vw;
    height: 26vw;
    margin: 3.5vw 0vw;
    float: right;
    margin-right: 5vw;
    
}
.lgnhd{
    color: #024731;
    font-weight: bold;
}
.lgnData-a{
    width: 30vw;
    height: 24vw;
    float:left;
    margin-top: 0.5vw;
    margin-left: 5vw;
}
.mail{
    float: left;
}
.btnSign{
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 30vw;
    background-color: #024731;
    color: #fff;
    padding: 0.5vw 2vw;
    font-size: 1.5vw;
    font-weight: bolder;
    border-radius: 0.4vw;
    border: none;
}
.do{
    float: left;
}
.link{
    float: left;
    color: cornflowerblue;
    
}
.in{
    width: 30vw;
    margin-bottom: 1vw;
    border: none;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgb(158, 151, 151);
    border-radius: 0.4vw;
    
}
::placeholder{
    font-size: 1vw;
    margin-left: 2vw;
}